/* body{
    text-align: center;
} */

#navbar{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    /* padding-bottom: 50px; */
    }

.nav-left{
    float: left;
    padding: 10px 0;
    }

#logo-icon{
    margin-left: 10px;
}

.nav-right {
    float: right;
    padding: 20px;
    }

h1, h2, h3 {
    text-align: center;
}

#welcome-section{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    text-align: center;
}

#project-container{
    margin: 5px;
}

.project-title{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5vw;
}

.project-tile{
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 20px;
    
}

@media (max-width: 600px){
    .project-tile {
        width: 80%
    }
}

.project-image{
    width: 90%;
    margin: auto;
}

#projects{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

#icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

#nes-icon{
    margin: 20px;
}

.nes-icon.is-medium {
    margin-bottom: 15px;
    padding: 0 20px;
}

